# Virtual Environments
venv/
env/
.env

# Python Cache
__pycache__/
*.pyc

# Data Files 
*.json
*.csv
*.parquet

# Google Cloud Keys
*key*.json
*-key.json
!GCP_SA_KEY.json

.vscode/
.idea/
.DS_Store
.ipynb

